<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="logo" src="./assets/icon/Dinowinners-logo.png" alt="">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
  </form>

  <ion-button expand="full" routerLink="/register" fill="clear">Registrarse</ion-button>
  
  <ion-button id="arrow-back" routerLink="/home">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon> Regresar
  </ion-button>
</ion-content>
