<ion-header>
  <ion-toolbar>
    <ion-title>DINOWINNER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Foto de Perfil -->
  <section class="perfil-seccion">
    <ion-card-content *ngIf="!verificarContenido('fotoPerfil')" class="perfil-sin-foto">
      <ion-item>
        <h5 class="mensaje-sin-foto">Sin foto de perfil</h5>
      </ion-item>
    </ion-card-content>
    <ion-card-content *ngFor="let perfilContenido of contenidoPerfil" class="perfil-con-foto">
      <img *ngIf="perfilContenido.fotoPerfil" [src]="perfilContenido.fotoPerfil" alt="Foto de perfil" class="foto-perfil" />
    </ion-card-content>
  </section>


    <section class="contact-section" *ngIf="contactoUser.length > 0">
    <ion-item *ngFor="let user of contactoUser">
      <ion-label>
        <h2>{{ user.nombre }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </section>



  <!-- Productos -->
  <section id="productos" class="productos-seccion" *ngIf="productos.length > 0">
    <ion-card class="productos-card">
      <ion-card-header>
        <ion-card-title>Productos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="producto-item" *ngFor="let producto of productos">
            <ion-label>
              <h2 class="producto-nombre">{{ producto.nombre }}</h2>
              <p class="producto-descripcion">{{ producto.descripcion }}</p>
              <img *ngIf="producto.imageUrl" [src]="producto.imageUrl" alt="Imagen del producto" class="producto-imagen" />
              <ion-badge color="primary" class="producto-precio">{{ producto.precio | currency }}</ion-badge>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Localidades -->
  <section id="localidades" class="ubicaciones-seccion" *ngIf="ubicaciones.length > 0">
    <ion-card class="ubicaciones-card">
      <ion-card-header>
        <ion-card-title>Localidades</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="ubicacion-item" *ngFor="let ubicacion of ubicaciones">
            <ion-label>
              <h2 class="ubicacion-ciudad">Ciudad: {{ ubicacion?.ubicacion?.city }}</h2>
              <p class="ubicacion-direccion">Dirección: {{ ubicacion?.ubicacion?.road }}, {{ ubicacion?.ubicacion?.neighbourhood }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Historial de Ventas -->
  <section id="historial-ventas" class="historial-ventas-seccion">
    <ion-card class="historial-card">
      <ion-card-header>
        <ion-card-title>Historial de Ventas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="historial-container">
          <div class="historial-item" *ngFor="let historial of historialVentas;">
            <ul class="historial-lista">
              <li><strong>Venta: </strong>{{ historial.nombre }}</li>
              <li><strong>Cantidad: </strong>{{ historial.cantidad }}</li>
              <li><strong>Total venta: </strong>$ {{ historial.Total_venta }}</li>
            </ul>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </section>

 <!-- Cursos -->
<section id="cursos" *ngIf="cursos.length === 0" style="padding: 16px;">
  <ion-label>Este usuario no tiene cursos añadidos</ion-label>
</section>

<section id="cursos" *ngIf="cursos.length > 0" style="padding: 16px;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cursos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let curso of cursos">
          <ion-label>
            <h2>{{ curso.nombreCurso }}</h2>
            <p>{{ curso.descripcion }}</p>
            <ion-badge color="secondary">{{ curso.fechaInicio | date }}</ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</section>


</ion-content>

<ion-footer>


  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon color="warning" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  
</ion-footer>
    <!-- Botones de Navegación -->
    <ion-item>
      <ion-button (click)="scrollTo('productos')">Productos</ion-button>
      <ion-button (click)="scrollTo('localidades')">Localidades</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="scrollTo('historial-ventas')">Historial de Ventas</ion-button>
      <ion-button (click)="scrollTo('cursos')">Cursos</ion-button>
    </ion-item>
