<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-title>Perfil Dinowinner:</ion-title>
    <ion-icon name="log-out" (click)="logout()" slot="end" *ngIf="nombreUsuario" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="overflow-y: auto;">
  <!-- Notificación -->
  <div *ngIf="mensaje" [ngClass]="tipoMensaje === 'exito' ? 'mensaje-exito' : 'mensaje-error'">
    {{ mensaje }}
  </div> 

    
  <ion-card class="SeccionPerfilFija ion-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
            {{ nombreUsuario }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let perfilContenido of perfilList" class="profile-card-content">
              <img *ngIf="perfilContenido.fotoPerfil" [src]="perfilContenido.fotoPerfil" 
                   alt="Foto de perfil" class="foto-perfil" />
            </div>
    
            <div *ngIf="!verificarContenido('fotoPerfil')" class="ion-text-center">
              <ion-label style="opacity: 0;">________________</ion-label>
              <ion-button *ngIf="selectedFilePPHOTO === undefined" (click)="fileInput.click()" expand="block" fill="solid">
                <ion-icon name="image-outline" slot="end"></ion-icon>
                Seleccionar imagen perfil 
              </ion-button>
              
              <input type="file" #fileInput (change)="onFileSelectedPHOTO($event)" style="display: none;" />

              <ion-item *ngIf="selectedFilePPHOTO">
                <ion-label>{{ selectedFilePPHOTO.name }}</ion-label>
              
                <ion-row>
                  <ion-col>
                    <ion-button expand="block" (click)="addFotoPerfil()">Subir</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="block" (click)="cancelarSeleccionPhoto(fileInput)">Cancelar</ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>


            
            </div>
          </ion-card-content>
        </ion-card>


          <!-- Sección contenido perfil/esta dividida en dos:v -->
          <div *ngIf="selectedTab === 'perfil'" class="SeccioncontenidoFija" >
            <div *ngIf="!verificarContenido('Identidad')">
              <ion-label style="opacity: 0;">__________________________________________</ion-label>
              <ion-item>
                <ion-label position="floating">Escribe algo sobre ti:</ion-label>
                <ion-textarea [(ngModel)]="sobremi" rows="1" auto-grow></ion-textarea>
              </ion-item>
              
              <ion-button (click)="addinfosobremi()">Agregar info</ion-button>
            </div>
            
            
            <strong style="display: flex; justify-content: center; margin: 10px 0;" >Sobre mí :</strong>
            
            <div *ngFor="let perfilContenido of perfilList" class="perfil-container">
              <div *ngIf="perfilContenido.Identidad">
          
                <div style="display: flex; justify-content: center; margin: 10px 0;">
                  <strong>{{ perfilContenido.Identidad }}</strong></div>
                </div>
            </div>
          </div>
<section *ngIf="selectedTab === 'perfil'" class="contenidoPerfil">
        <!-- Historial de compras -->
  <ion-card>
  <ion-card-header>
  <ion-card-title>Historial de Compras</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="historialcontainer">
      <div *ngFor="let historial of historialCompras">
        <div>
          <ul class="historialcompra">
            <li><strong>Nombre: </strong>{{ historial.nombre }}</li>
            <li><strong>Cantidad: </strong>{{ historial.cantidad }}</li>
            <li><strong>Precio Total: </strong>$ {{ historial.precioTotal }}</li>
          </ul>
    
          <ion-item  *ngIf="VentanaComentar === 'desactivada'">
            <ion-button  (click)="abrirVentanacomentar(historial)">Comentar</ion-button>
          </ion-item>
        </div>
    
        <div *ngIf="VentanaComentar === 'activada'">
          <ion-input [(ngModel)]="comentarioAsubir" placeholder="Escribe tu comentario aquí"></ion-input>
          <ion-item>
            <ion-button (click)="agregarComentarioAlproducto(historial.Id_documento)">subir Comentario</ion-button>
            <h2 style="opacity: 0;" >__</h2>
          <ion-button (click)="cerrarVentanacomentar()">Cerrar</ion-button>
          </ion-item>
        </div>
      </div>
    </div>
    
    
  </ion-card-content>
</ion-card>
<!-- Historial de ventas -->
<ion-card>
  <ion-card-header>
  <ion-card-title>Historial de Ventas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="historialcontainer">
      <div *ngFor="let historial of historialVentas; ">
          <ul class="historialcompra">
            <li>
              <strong>Venta: </strong>{{ historial.nombre }}
            </li>
            <li>
              <strong>Cantidad: </strong>{{ historial.cantidad}}
            </li>
            <li>
              <strong>Cliente: </strong>{{ historial.comprador}}
            </li>
            <li>
              <strong>Total venta: </strong>$ {{ historial.Total_venta  }}
            </li>
          </ul>
      </div>
    </div>
  </ion-card-content>
</ion-card>
</section>    

        <!-- Sección de productos -->
        <section *ngIf="selectedTab === 'productos'" class="content-section">

          <ion-card *ngIf="SAproducto === 'desactivado'">
            <ion-card-header>
              <ion-card-title>Tus productos:</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list>
                <div class="profile-product-list">
                  <ion-item *ngFor="let product of products" class="profile-product-card">
      
                    <ion-thumbnail slot="start">
                      <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Imagen del producto" />
                    </ion-thumbnail>
          
                    <ion-label>
                     
                      <h2>{{ product.nombre }}</h2>
                      <p>${{ product.precio}}</p>
                      <p class="product-description">{{ product.descripcion }}</p>
                      <p class="product-stock">Stocks : {{ product.stock }}</p>
                    </ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
          




          <!-- Con este boton alternamos entre la vista de productos y la de agregar productos -->
          <ion-fab *ngIf="SAproducto === 'desactivado'" vertical="bottom" 
          horizontal="end"  (click)="SAproducto = 'activado'">
            <ion-fab-button color="warning">
              Agregar
            </ion-fab-button>
          </ion-fab>



          <ion-card *ngIf="SAproducto === 'activado'">
            <ion-card-header>
              <ion-card-title>Agregar Producto</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre del Producto</ion-label>
                <ion-input [(ngModel)]="productName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Descripción</ion-label>
                <ion-input [(ngModel)]="productDescription"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Precio</ion-label>
                <ion-input [(ngModel)]="productPrice" type="number"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">stocks</ion-label>
                <ion-input [(ngModel)]="stockProducto" type="number" min="1" step="1"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Selecciona una imagen</ion-label>
              </ion-item>
              <ion-item>
                <ion-button expand="block" fill="outline" (click)="fileInput.click()">
                  Seleccionar Imagen
                </ion-button>
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />

              </ion-item>
              
              <!-- Mostrar el nombre del archivo seleccionado si existe -->
              <ion-item *ngIf="selectedFile">
                <ion-label>{{ selectedFile.name }}</ion-label>
              </ion-item>
              
              

              <ion-row>
                <ion-col>
                  <ion-button (click)="addProduct()" (click)="SAproducto = 'desactivado'">Agregar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="SAproducto = 'desactivado'">Cancelar</ion-button>
                </ion-col>
              </ion-row>
              
            </ion-card-content>
          </ion-card>
        </section>

        <!-- Sección de ubicaciones -->
        <section *ngIf="selectedTab === 'ubicaciones'" style="padding: 16px;">
          <ion-card *ngIf="SAubicacion === 'desactivado'">
            <ion-card-header>
              <ion-card-title>Tus ubicaciones:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let location of locations">
                  {{ location.ciudad }} - {{ location.direccion }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

           <!-- Con este boton alternamos entre la vista de ubicacion y la de agregar ubicacion -->
           <ion-fab *ngIf="SAubicacion === 'desactivado'" vertical="bottom" 
           horizontal="end"  (click)="SAubicacion = 'activado'">
             <ion-fab-button color="warning">
               Agregar
             </ion-fab-button>
           </ion-fab>


      
          <ion-card *ngIf="SAubicacion === 'activado'">
            <ion-card-header>
              <ion-card-title>Agregar Ubicación</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input [(ngModel)]="city"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input [(ngModel)]="address"></ion-input>
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-button (click)="addLocation()" (click)="SAubicacion = 'desactivado'">Agregar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="SAubicacion = 'desactivado'">Cancelar</ion-button>
                </ion-col>
              </ion-row>
      
            </ion-card-content>
          </ion-card>
        </section>

        <!-- Sección de cursos -->
        <section *ngIf="selectedTab === 'cursos'" style="padding: 16px;">

          <!-- Cursos a los que estoy suscrito -->
          <ion-card *ngIf="SAcurso === 'desactivado' && contenidocurso === 'desactivado'">
            <ion-card-header>
              <ion-card-title>Cursos a los que estoy suscrito</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let curso of cursosSuscritos">
                <ion-item >
                  {{ curso.nombre }} - Autor: {{ curso.autor }}
                  
                </ion-item>
                <ion-item>
                  <ion-button (click)="verContenidoCurso(curso)">Ver contenido</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        
          <!-- Cursos agregados -->
          <ion-card *ngIf="SAcurso === 'desactivado' && contenidocurso === 'desactivado'">
            <ion-card-header>
              <ion-card-title>Cursos que he agregado</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let curso of cursosAgregados">
                  {{ curso.NombreCurso }} - Cupos: {{ curso.Cupos }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        
          <!-- contenido del curso seleccionado:D  -->
          <ion-card *ngIf="cursoSeleccionado && contenidocurso === 'activado'">
            <ion-card-header>
              <ion-card-title style="font-size: 24px;">{{ cursoSeleccionado.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="Calificar === 'desactivado'">
              <p><strong>Descripción:</strong> {{ cursoSeleccionado.descripcion }}</p>
              <p style="opacity: 0;">____________________</p>
              <p>{{ cursoSeleccionado.contenido }}</p>
              <ion-item>
              <ion-button (click)="cerrarContenido()">Cerrar</ion-button>
              <ion-button (click)="Calificar = 'activado'">Calificar</ion-button>
              </ion-item>
            </ion-card-content>
            <ion-card-content *ngIf="Calificar === 'activado'">
              <ion-item>
                <ion-button fill="clear" (click)="calificarCurso(cursoSeleccionado.id, 1)">1
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="calificarCurso(cursoSeleccionado.id, 2)">2
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="calificarCurso(cursoSeleccionado.id, 3)">3
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="calificarCurso(cursoSeleccionado.id, 4)">4
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="calificarCurso(cursoSeleccionado.id, 5)">5
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button (click)="Calificar = 'desactivado'" >cancelar</ion-button>
              </ion-item>
              
            </ion-card-content>
          </ion-card>
          
          
         
        
          <!-- Botón flotante para agregar cursos (No borrar please) -->
          <ion-fab *ngIf="SAcurso === 'desactivado' && contenidocurso === 'desactivado'" vertical="bottom" horizontal="end" (click)="SAcurso = 'activado'">
            <ion-fab-button color="warning">
              Agregar
            </ion-fab-button>
          </ion-fab>
    

          <ion-card *ngIf="SAcurso === 'activado'">
            <ion-card-header>
              <ion-card-title>Agregar Curso</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre del Curso</ion-label>
                <ion-input [(ngModel)]="CursoNombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Descripción</ion-label>
                <ion-textarea [(ngModel)]="DescripcionCurso" auto-grow="true"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contenido</ion-label>
                <ion-textarea [(ngModel)]="contenidoCurso" auto-grow="true"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Cupos Disponibles</ion-label>
                <ion-input [(ngModel)]="CuposCurso" type="number" min="0" step="1"></ion-input>
              </ion-item>
              <ion-button (click)="agregarCursoYComentar()">Publicar en foro</ion-button>
              <ion-button (click)="SAcurso = 'desactivado'">Cancelar</ion-button>
            </ion-card-content>
          </ion-card>
        </section>
        

        
     
    

</ion-content>

<!-- Footer fijo para navegación -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" (click)="selectedTab = 'productos'">
      <ion-icon color="warning" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="selectedTab = 'productos'">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Mis Productos</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="selectedTab = 'ubicaciones'">
      <ion-icon name="map"></ion-icon>
      <ion-label>Locales</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="selectedTab = 'cursos'">
      <ion-icon name="school"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="selectedTab = 'perfil'">
      <ion-icon color="warning" name="person"></ion-icon>
      <ion-label>perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
