/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ion-toolbar {
    --background: linear-gradient(90deg, #fab371, #fa7171); 
    color: #ffffff;
}

.slogan {
    text-align: center;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}

ion-button {
    --background: #fab371;
    color: white;
    border-radius: 20px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: none;
}

ion-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button:active {
    background-color: #fa7171; 
    color: white;
}


.product-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }
  
  .product-card {
    min-width: 100%;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .section-padding {
    padding: 16px;
  }
  
.profile-section {
    padding: 16px;
  }
  
  .profile-product-list {
    display: flex; 
    overflow-x: auto; 
    padding: 10px 0; 
  }
  
  .profile-product-card {
    flex: 0 0 100%; 
    margin-right: 10px; 
  }
  
  .profile-product-image {
    max-width: 100%;
    height: auto;
  }
  
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: linear-gradient(135deg, #f8e7db 0%, #faf6e8 50%, #ffffff 100%);
  color: rgb(0, 0, 0); 
  border-radius: 8px; 
  }
  