/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


ion-toolbar {
    --background: linear-gradient(90deg, #f8bd85, #f68b79); 
    color: #ffffff;
}

.slogan {
    text-align: center;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}

ion-button {
    --background: #fbbc80;
    color: white;
    border-radius: 20px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: none;
}

ion-button {
  font-size: 12px; 
  padding:4px 10px; 
}

body {
  background: linear-gradient(135deg, #f8e7db 0%, #faf6e8 50%, #ffffff 100%);
}

button:active {
    background-color: #fa7171; 
    color: white;
}






  
  .user-name {
    font-weight: bold;
  }
  
  .section-padding {
    padding: 16px;
  }
  
.profile-section {
    padding: 16px;
  }
  
  .profile-product-list {
    display: flex; 
    overflow-x: auto; 
    padding: 10px 0; 
  }
  
  .profile-product-card {
    flex: 0 0 100%; 
    margin-right: 10px; 
  }
  
  .profile-product-image {
    max-width: 100%;
    height: auto;
  }



  
  
ion-card {

  background: linear-gradient(135deg, #f8e7db 0%, #faf6e8 50%, #ffffff 100%);
  color: rgb(0, 0, 0); 
  border-radius: 5px; 
  border: none !important;  
  box-shadow: 2px, 2px, 2px #777777;
  }



  /// La matoyoria de metodos que tienen la palabra home son de los productos de home, 
// modifica de aqui la visa de productos por favor 
.homecontainer {
  display: flex;
  flex-direction: row; 
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
}

.homecard {
  flex: 0 0 auto; 
  width: 90vw; 
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center; 
}

.homecardheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homecardtitle {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homebadge {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fa7171;
  margin: 1rem;
}

.homecardcontent {
  text-align: center;
  color: #424141;
  font-size: 0.4rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.homeimage {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  display: block; 
  margin: 0 auto; 
  border-radius: 10px;
}

.homedescription,
.homestock {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.homeaddtocart {
  font-size: 1rem;
  color: #424141 !important;
  text-align: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/// Aqui se acaban las clases de productos de home__, 

/// Para las notificaciones 
/// 
.mensaje-exito, .mensaje-error {
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  width: 20rem; 
  text-align: center;
  position: fixed;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  transition: opacity 0.3s ease-in-out;
}

.mensaje-exito {
  background-color: #f5c46e;
}

.mensaje-error {
  background-color: #bc6262;
}


ion-tab-button {
  position: relative;
  overflow: hidden; 
  transition: transform 0.2s ease; 
  border-radius: 5px;
}

ion-tab-button:active {
  transform: scale(0.95); 
  background-color: rgba(0, 0, 0, 0.1); 
}

.center-toast {
display: flex;
justify-content: center;   
align-items: center;       
text-align: center;        
}


  