<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios y Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nombreUsuario" style="padding: 16px; font-weight: bold;">
    Bienvenido, {{ nombreUsuario }}!
  </div>
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios">
      <ion-card-header>
        <ion-card-title style="font-weight: bold;">{{ usuario.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list-header>
          <ion-label>Productos</ion-label>
        </ion-list-header>
        <ion-list *ngFor="let producto of productosPorUsuario[usuario.uid]">
          <ion-item>
            <ion-label>
              <h3>Nombre: {{ producto.nombre }}</h3>
              <p>Descripción: {{ producto.descripcion }}</p>
              <p>Precio: ${{ producto.precio }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list-header>
          <ion-label>Ubicaciones</ion-label>
        </ion-list-header>
        <ion-list *ngFor="let ubicacion of ubicacionesPorUsuario[usuario.uid]">
          <ion-item>
            <ion-label>
              <h3>Ciudad: {{ ubicacion.ciudad }}</h3>
              <p>Dirección: {{ ubicacion.direccion }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
