<ion-header class="ion-header">
  <ion-toolbar class="ion-toolbar">
    <ion-title>Inicio</ion-title>
  
    <ion-icon name="log-out" (click)="logout()" slot="end" *ngIf="nombreUsuario" size="large"></ion-icon>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mensaje" [ngClass]="tipoMensaje === 'exito' ? 'mensaje-exito' : 'mensaje-error'">
    {{ mensaje }}
  </div>    
 <!-- seccion foro -->
 <section *ngIf="selectedTab === 'foro'" class="foro-container">
  <h5 class="foro-title"><strong>FORO DINOWINNERS</strong></h5>
  <ion-list>
    <ion-card *ngFor="let comentario of comentariosForo" class="comentario-card">
      <ion-card-header>
        <ion-card-title>
          <strong *ngIf="comentario.Usuario">{{ comentario.Usuario }} comentó</strong>
          <h5 *ngIf="comentario.Autor" >_____________________________________</h5>
          <strong *ngIf="comentario.Autor">{{comentario.Autor}} publicó un curso de capacitación: </strong> 
        </ion-card-title>
      </ion-card-header>
      
      <!-- Comentario normal -->
      <ion-card-content *ngIf="comentario.Comentario" class="comentario-contenido">
        {{ comentario.Comentario }}
      </ion-card-content>
      
      <!-- Curso de capacitación -->
      <ion-card-content *ngIf="comentario.CCnombre" class="curso-contenido">
        <h2> <b>Nombre del curso:</b> {{ comentario.CCnombre }}</h2>
        <p><b>Descripción:</b> {{ comentario.CCdescripcion }}</p>
        <p><b>Cupos disponibles:</b> {{ comentario.Cupos }}</p>
      </ion-card-content>
      <h5 *ngIf="comentario.Autor" >_____________________________________</h5>
      
      <!-- Botón Suscribirse o mensaje para iniciar sesión -->
      <div *ngIf="comentario.CCnombre" class="suscripcion-container">
        <ion-button *ngIf="nombreUsuario" 
                    (click)="irASuscripcion(comentario.uidCursoForo, comentario.CCnombre, comentario.Autor)">
          Suscribirse
        </ion-button>
        <ion-label *ngIf="!nombreUsuario" color="warning">
          Por favor inicia sesión para suscribirte
        </ion-label>
      </div>
    </ion-card>
  </ion-list>
</section>





 <section *ngIf="selectedTab === 'productos'" class="section-padding">
  <h5><strong>PRODUCTOS DINOWINNERS:</strong></h5>
  <ion-list>
    <div *ngFor="let usuario of usuarios"> 
      <ion-item>
        <ion-label [routerLink]="['/perfil-ajeno', usuario.uid]" class="user-name" color="warning">
          {{ usuario.nombre }}
        </ion-label>
      </ion-item>
      
      <div class="product-container">
        <ion-card *ngFor="let producto of productosPorUsuario[usuario.uid]" class="product-card">
          <ion-card-header>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-badge color="primary">{{ producto.precio | currency }}</ion-badge>
          <ion-card-content>
            <img *ngIf="producto.imageUrl" [src]="producto.imageUrl" alt="Imagen del producto" style="max-width: 100%; height: auto; max-height: 150px; object-fit: contain;" />
            <p>Descripción: {{ producto.descripcion }}</p>
          </ion-card-content>
          <ion-label (click)="addCarrito(producto.nombre, producto.precio, producto.CreadorProducto, producto.ID_VENTA, producto.imageUrl)" class="user-name" color="primary" style="cursor: pointer;">
            Agregar a carrito 
          </ion-label>
        </ion-card>
      </div>
    </div>
  </ion-list>
</section>





    <!-- <ion-list-header><ion-label>Ubicaciones</ion-label></ion-list-header>
        <div class="product-container">
          <ion-card *ngFor="let ubicacion of ubicacionesPorUsuario[usuario.uid]" class="product-card">
            <ion-card-header>
              <ion-card-title>Ciudad: {{ ubicacion.ciudad }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Dirección: {{ ubicacion.direccion }}</p>
            </ion-card-content>
          </ion-card>
        </div> -->
  
  
</ion-content> 

<!-- Movi lo de comentar aca para que no se deslice -->
<div *ngIf="nombreUsuario && selectedTab === 'foro'" class="comentario-fijo">
  <ion-row>
    <ion-col>
      <ion-textarea [(ngModel)]="comentarioForo" rows="3" placeholder="Escribe tu comentario..."></ion-textarea>
    </ion-col>
    <ion-col size="auto">
      <ion-button expand="full" (click)="ComentarForo()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>




<!-- Tab Bar en el footer -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="selectedTab = 'productos'">
      <ion-icon color="warning" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="selectedTab = 'foro'">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Foro</ion-label>
    </ion-tab-button>
  
    <ion-tab-button *ngIf="nombreUsuario === ''" routerLink="/login" (click)="selectedTab = 'productos'">
      <ion-icon color="warning" name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="nombreUsuario" routerLink="/carrito" (click)="selectedTab = 'productos'">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>
    
  
    <ion-tab-button *ngIf="nombreUsuario" routerLink="/profile" (click)="selectedTab = 'productos'">
      <ion-icon color="warning" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  
    
    
  
  </ion-tab-bar>
  
</ion-footer>
