<ion-header class="ion-header">
  <ion-toolbar class="ion-toolbar">
    <ion-title>Inicio (Feed)</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile" *ngIf="nombreUsuario">
        {{ nombreUsuario }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="nombreUsuario === ''">
      <ion-button routerLink="/login">
        Login
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="nombreUsuario">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nombreUsuario" style="padding: 16px; font-weight: bold;">
    ¡Bienvenido, {{ nombreUsuario }}!
  </div>

  <!-- Sección del Foro -->
  <section style="padding: 16px;">
    <b><h5>FORO DINOWINNERS</h5></b>
    <b><h5>____________________________________________________________________</h5></b>
    <ion-list>
      <ion-card *ngFor="let comentario of comentariosForo">
        <ion-card-header>
          <ion-card-title>
            <strong>{{ comentario.Usuario ?? comentario.Autor }}</strong> publicó :
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ comentario.Comentario }}
        </ion-card-content>
        
        <ion-button *ngIf="comentario.Tipo === 'CursoCapacitacion' && nombreUsuario" 
        (click)="irASuscripcion(comentario.uidCursoForo,comentario.NameCursoForo,comentario.Autor)">
        Subscribirse
        </ion-button>

      </ion-card>
    </ion-list>

    
    <div style="padding: 16px;" *ngIf="nombreUsuario">
      <ion-item>
        <ion-label position="floating">Escribe tu comentario</ion-label>
        <ion-textarea [(ngModel)]="comentarioForo" rows="3"></ion-textarea>
      </ion-item>
      <ion-button expand="full" (click)="ComentarForo()">Comentar</ion-button>
    </div>
  </section>

  <b><h5>__________________________________________________________________________</h5></b>
  <b><h5>PRODUCTOS DE USUARIO:</h5></b>
  <b><h5>__________________________________________________________________________</h5></b>

  <section style="padding: 16px;">
    <ion-list>
      <ion-card *ngFor="let usuario of usuarios">
        <ion-card-header>
          <ion-card-title style="font-weight: bold;">{{ usuario.nombre }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list-header>
            <ion-label>Productos</ion-label>
          </ion-list-header>
          <ion-list *ngFor="let producto of productosPorUsuario[usuario.uid]">
            <ion-item>
              <ion-label>
                <h3>Nombre: {{ producto.nombre }}</h3>
                <p>Descripción: {{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list-header>
            <ion-label>Ubicaciones</ion-label>
          </ion-list-header>
          <ion-list *ngFor="let ubicacion of ubicacionesPorUsuario[usuario.uid]">
            <ion-item>
              <ion-label>
                <h3>Ciudad: {{ ubicacion.ciudad }}</h3>
                <p>Dirección: {{ ubicacion.direccion }}</p>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>
    </ion-list>
  </section>
</ion-content>
